!!! 5
html
    head
        title NashJs
        link(rel='stylesheet', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/main.css')
        link(rel='icon', type='image/png', href='/images/nashvillejs-favicon.png')

    body
        div.container
            img(src='/images/nashvillejs.png', style='height: 300px; width: auto; margin-top: 100px;').center.img-polaroid

        script(src='/scripts/bootstrap.min.js')
