!!! 5
html
    head
        title NashJs
        link(rel='stylesheet', href='/styles/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/main.css')
        link(rel='icon', type='image/png', href='/images/nashvillejs-favicon.png')
    body
